h2 {
    font-family: var(--head);
    color: var(--text-color);
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#download {
    /* box model */
    margin: 1rem 0;
    border: 1px solid var(--accent-1);
    border-radius: 1rem;
    padding: 1rem;

    /* text */
    text-align: center;
}

#upload {
    /* box model */
    border: 1px solid var(--accent-1);
    border-radius: 1rem;
    padding: 1rem;

    /* text */
    text-align: center;

    & #dataUpload {
        & label {
            /* color */
            color: var(--text-color);
            font-family: var(--body);

            /* flex */
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: center;
            align-items: center;
            
            /* box model */
            margin-bottom: 1rem;

            & #datafile {
                width: 75%;
            }
        }
    }
}

@media only screen and (min-width:600px) {
    main {
        /* grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        & h1 {
            grid-column: 1/3;
        }
    }

    #download {
        height: 100%;
    }

    #upload #dataUpload label{
        flex-direction: row;

        & input {
            max-width: 35%;
        }
    }
}