/*************************** Small Screens ***************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    & img {
        width: 75px;
        height: auto;
    }

    & a {
        /* text */
        text-decoration: none;
        text-align: center;

        /* color */
        color: var(--accent-1);

        /* font */
        font-size: 1.5rem;
        font-family: var(--head);
    }
}

/*************************** Hamburger ***************************/

.hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
    font-size: 2.2rem;
}

.hamburger::before {
    content: "\2630";

}

.hamburger.show::before {
    content: "\00D7";
}

/*************************** navigation ***************************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    font-size: 1.4rem;
    font-family: var(--body);
    font-weight: 500;
    background-color: var(--accent2);
    margin: 0 0 1rem 0;
    padding: 0;
}

.navigation li {
    padding: 0.5rem;
    border-bottom: 1px solid var(--accent-1);
    text-align: center;
}

.navigation li:first-of-type {
    border-top: 1px solid var(--accent-1);
}

.navigation a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--body);
}

.navigation a:hover {
    color: var(--secondary-color);
}

.navigation a.current {
    text-decoration: underline;
}

/*************************** Footer ***************************/
footer {
    /* box model */
    margin: 1rem 0 0 0;
    border-top: 1px solid var(--accent-1);
    padding-top: 1rem;

    /* colors */
    color: var(--text-color);

    /* font */
    font-family: var(--body);

    /* text */
    text-align: center;
}

/*************************** Larger Screens ***************************/
@media only screen and (min-width:600px) {
    /*************************** header ***************************/
    header {
        justify-content: left;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        padding: 0;

        & ul {
            display: flex;
            border-radius: 1rem;
            font-size: 1.5rem;
            padding: .7rem;
        }

        & li {
            border-bottom: none;
        }
    }

    /*************************** Nav bigger screens ***************************/
    nav ul {
        justify-content: space-evenly;
        align-items: center;

        border: solid 1px var(--accent-1);
    }

    .navigation li:first-of-type {
        border: none;
    }
}