:root {
  /* colors */
  --primary-color: #0a2342;
  --secondary-color: #e952de;
  --accent-1: #f46197;
  --accent-2: #846c5b;
  --text-color: #eadeda;

  /* fonts */
  --head: "Klee One", Verdana, Trebuchet, Arial;
  --body: "Open Sans", Tahoma, Arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

body {
  margin: 1rem;
}

.anchorButton {
  /* colors */
  color: black;
  background-color: var(--accent-1);

  /* box model */
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0 auto;

  /* font and text */
  font-family: var(--head);
  font-size: 1.3rem;
  text-decoration: none;

  /* grid */
  grid-column: 1/3;

  &:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--accent-1);
  }
}

.buttonStyle {
  /* colors */
  color: black;
  background-color: var(--accent-1);

  /* box model */
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;

  /* font and text */
  font-family: var(--head);
  font-size: 1.3rem;

  &:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 2px solid var(--accent-1);
  }
}

h1 {
  /* text */
  text-align: center;

  /* color */
  color: var(--text-color);

  /* font */
  font-family: var(--head);
}
