/*************************** Hiding / Showing Header and Table ***************************/
#entered-shows {
  border: 2px dashed var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;

  & .showHeader {
    display: none;
  }

  & .tableHidden {
    display: block;

    /* colors */
    color: var(--text-color);

    /* text / font */
    text-align: center;
    font-family: var(--body);
    font-weight: 400;
  }

  & table {
    display: none;
  }
}

/*************************** Update Shows Section ***************************/
#showUpdate {
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;

  & h2 {
    /* font & text */
    font-family: var(--head);
    text-align: center;

    /* colors */
    color: var(--text-color);

    /* box model */
    margin: 0 0 1rem 0;
  }

  & .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

/*************************** Add show CSS ***************************/
#addMain {
  & #addShowForm {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    /* color */
    color: var(--text-color);

    /* font & text */
    font-size: 1.2rem;
    font-family: var(--body);

    /* box model */
    margin: 1rem;

    & label {
      display: flex;
      flex-direction: column;

      & input[type="text"] {
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;

        /* font */
        font-size: 1.1rem;
        font-family: var(--body);

        /* box model */
        border: 1px solid var(--accent-1);
        border-radius: 1rem;

        /* colors */
        color: var(--text-color);
      }

      & textarea {
        /* box model */
        padding: 0.5rem;
        border: 1px solid var(--accent-1);
        border-radius: 1rem;

        /* color */
        color: var(--text-color);

        /* font */
        font-family: var(--body);
        font-size: 1.1rem;
      }
    }

    & fieldset {
      border: 1px solid var(--accent-1);
      border-radius: 1rem;
      text-align: center;

      & legend {
        padding: 1rem;
      }

      & label {
        padding: 1rem;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 0.5rem;
        border-radius: 1rem;
      }
    }
  }
}

/*************************** confirm page ***************************/
#thankYou {
  padding: 0.5rem;
  margin: 1rem;

  & h2,
  p {
    color: var(--text-color);

    text-align: center;
    font-family: var(--body);
  }

  & h2 {
    margin-bottom: 1rem;
    font-family: var(--head);
  }
}

#goBackBtn {
  display: block;
  margin: 0 auto;
  width: 120px;
  text-align: center;
}

/*************************** Update Page ***************************/
#updateMain {
  display: block;
}

#selectShow {
  /* color */
  color: var(--text-color);

  /* font */
  font-family: var(--body);
  font-size: 1.1rem;

  /* box model */
  margin: 1rem auto;
  width: fit-content;

  & p {
    text-align: center;
  }

  & #showSelect {
    /* color */
    color: var(--text-color);

    /* box model */
    padding: 0.5rem;
    border: 1px solid var(--accent-1);
    border-radius: 1rem;
    display: block;
    margin: 1rem auto 0;
    width: 90%;

    /* font */
    font-family: var(--body);
    font-size: 1.1rem;
  }
}

#updateSection {
  & #editShowForm {
    /* flex */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    /* color */
    color: var(--text-color);

    /* font & text */
    font-size: 1.2rem;
    font-family: var(--body);

    /* box model */
    margin: 1rem;

    & label {
      display: flex;
      flex-direction: column;

      & input[type="text"] {
        padding: 0.2rem 0.2rem 0.2rem 0.4rem;

        /* font */
        font-size: 1.1rem;
        font-family: var(--body);

        /* box model */
        border: 1px solid var(--accent-1);
        border-radius: 1rem;

        /* colors */
        color: var(--text-color);
      }

      & textarea {
        /* box model */
        padding: 0.5rem;
        border: 1px solid var(--accent-1);
        border-radius: 1rem;

        /* color */
        color: var(--text-color);

        /* font */
        font-family: var(--body);
        font-size: 1.1rem;
      }
    }

    & fieldset {
      border: 1px solid var(--accent-1);
      border-radius: 1rem;
      text-align: center;

      & legend {
        padding: 1rem;
      }

      & label {
        padding: 1rem;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 0.5rem;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  /*************************** Hiding / Showing Header and table ***************************/
  #entered-shows {
    border: 2px solid var(--secondary-color);

    & table {
      /* box model */
      display: table;
      margin: 1rem auto;

      /* font */
      font-family: var(--body);

      /* color */
      color: var(--text-color);

      /* table */
      border-spacing: 0;

      & th {
        /* box model */
        padding: 0.5rem;
        border: 1px solid var(--secondary-color);

        /* color */
        color: var(--text-color);

        &:first-child {
          border-top-left-radius: 1rem;
        }

        &:last-child {
          border-top-right-radius: 1rem;
        }
      }

      & td {
        /* box models */
        border: 1px solid var(--secondary-color);
        padding: 0.5rem;

        /* text */
        text-align: center;

        /* font */
        font-family: var(--body);
      }

      & tr {
        color: var(--text-color);

        &:last-child {
          & td:first-child {
            border-bottom-left-radius: 1rem;
          }

          & td:last-child {
            border-bottom-right-radius: 1rem;
          }
        }
      }
    }

    & .showHeader {
      display: block;

      /* colors */
      color: var(--text-color);

      /* text / font */
      text-align: center;
      font-family: var(--head);
      font-weight: 400;
    }

    & .tableHidden {
      display: none;
    }
  }

  main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    & h1 {
      grid-column: 1/3;
    }

    & #showUpdate .buttons {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & .anchorButton {
        margin: 0;
      }
    }

    & #entered-shows{
      max-width: 1500px;
    }
  }

  #addMain {
    display: block;

    & #addShowForm {
      /* grid */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      & label {
        & textarea {
          height: 100%;
        }
      }

      & input[type="submit"] {
        grid-column: 2/3;
      }
    }
  }

  #updateMain #updateSection #editShowForm {
    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    & label {
      & textarea {
        height: 100%;
      }
    }

    & input[type="submit"] {
      grid-column: 2/3;
    }
  }

  #confirmMain {
    display: block;
  }
}
